#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100vw;
}

#body {
  background-image: url("https://cdn.dribbble.com/users/5621307/screenshots/14102635/media/71cf4697a032080dc7c76289e8de450e.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-width: 100vw;
  background-attachment: fixed;
}

h1 {
  font-weight: 900 !important;
  -webkit-text-fill-color: #ffffff;
  padding-bottom: 10px;
}

.container {
  align-content: center;
  display: flex;
}

.card {
  padding: 1em;
}

.card-img-top {
  background-color: rgb(215, 249, 241)
}

.img-sm {
  width: 35% !important;
}

.card-title {
  -webkit-text-fill-color: #0000ff;
  font-weight: 700 !important;
  font-size: 35px !important;
  text-align: center !important;
}

.card-type {
  font-weight: 800;
  font-size: 25px !important;
}

.read-the-docs {
  color: #888;
}

form {
  display: flex !important;
  justify-content: space-evenly;
  padding-bottom: 25px;

}

.form-control {
  width: 40% !important;
}

.btn-left {
  margin-bottom: 25px !important;
  float: left !important;
}
